web/node_modules
web/.pnp
web/.pnp.*
web/.yarn/*
web/!.yarn/patches
web/!.yarn/plugins
web/!.yarn/releases
web/!.yarn/versions
web/.next/
web/out/
web/build
web/next-env.d.ts

api/node_modules

.env
data.sql